Repository neilmfrench/homelab-prod, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/templates

Fix ingressroute
  kubernetes/apps/production/finance/rxresume/client/ingressroute.yaml
Labels: none

Bump rxresume
  kubernetes/apps/production/finance/rxresume/app/rxresume-values.yaml
  kubernetes/apps/production/finance/rxresume/client/rxresume-client-values.yaml
Labels: none

Orphan home assistant
  cluster/apps/home/kustomization.yaml
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

Orphan home ns
  cluster/core/namespaces/kustomization.yaml
  kubernetes/apps/production/home/kustomization.yaml
  kubernetes/apps/production/home/namespace.yaml
Labels: area/kubernetes

Migrate home-assistant
  kubernetes/apps/base/home-assistant/kustomization.yaml
  kubernetes/apps/base/home-assistant/release.yaml
  kubernetes/apps/production/home/home-assistant/app/config-pvc.yaml
  kubernetes/apps/production/home/home-assistant/app/home-assistant-values.yaml
  kubernetes/apps/production/home/home-assistant/app/ingress.yaml
  kubernetes/apps/production/home/home-assistant/app/ingressroute.yaml
  kubernetes/apps/production/home/home-assistant/app/kustomization.yaml
  kubernetes/apps/production/home/home-assistant/ks.yaml
  kubernetes/apps/production/kustomization.yaml
Labels: none

make the pain end :(
  cluster/apps/home/kustomization.yaml
  kubernetes/apps/production/home/home-assistant/app/ingress.yaml
  kubernetes/apps/production/home/wyze-bridge/app/config-pvc.yaml
  kubernetes/apps/production/home/wyze-bridge/ks.yaml
Labels: area/kubernetes

Fix service port
  kubernetes/apps/production/home/home-assistant/app/home-assistant-values.yaml
  kubernetes/apps/production/home/wyze-bridge/app/kustomization.yaml
  kubernetes/apps/production/home/wyze-bridge/app/wyze-bridge-values.yaml
Labels: none

Migrate wyze
  kubernetes/apps/base/wyze-bridge/kustomization.yaml
  kubernetes/apps/base/wyze-bridge/release.yaml
  kubernetes/apps/production/home/wyze-bridge/app/kustomization.yaml
  kubernetes/apps/production/home/wyze-bridge/app/wyze-bridge-values.yaml
  kubernetes/apps/production/home/wyze-bridge/ks.yaml
Labels: none

Fix wyze bridge image
  kubernetes/apps/production/home/wyze-bridge/app/wyze-bridge-values.yaml
Labels: none

Hopefully this fixes it
  kubernetes/apps/production/home/home-assistant/app/home-assistant-values.yaml
Labels: none

Fix HASS image
  kubernetes/apps/production/home/home-assistant/app/home-assistant-values.yaml
Labels: none

Try to fix auth endpoint
  kubernetes/apps/production/home/home-assistant/app/ingressroute.yaml
Labels: none

Try to fix auth endpoint
  kubernetes/apps/production/home/home-assistant/app/ingressroute.yaml
Labels: none

Try to fix auth endpoint
  kubernetes/apps/production/home/home-assistant/app/ingressroute.yaml
Labels: none

Try to fix auth endpoint
  kubernetes/apps/production/home/home-assistant/app/ingressroute.yaml
Labels: none

Orphan pihole-hue-bridge
  cluster/apps/home/kustomization.yaml
  kubernetes/apps/production/home/home-assistant/app/ingressroute.yaml
Labels: area/kubernetes

Migrate pihole-hue-bridge
  kubernetes/apps/base/pihole-hue-bridge/kustomization.yaml
  kubernetes/apps/base/pihole-hue-bridge/release.yaml
  kubernetes/apps/production/home/kustomization.yaml
  kubernetes/apps/production/home/pihole-hue-bridge/app/config-pvc.yaml
  kubernetes/apps/production/home/pihole-hue-bridge/app/ha-bridge.config
  kubernetes/apps/production/home/pihole-hue-bridge/app/kustomization.yaml
  kubernetes/apps/production/home/pihole-hue-bridge/app/pihole-hue-bridge-values.yaml
  kubernetes/apps/production/home/pihole-hue-bridge/app/resource-quota.yaml
  kubernetes/apps/production/home/pihole-hue-bridge/ks.yaml
Labels: none

Fix pvc
  hack/manage-with-helm.sh
  kubernetes/apps/production/home/pihole-hue-bridge/app/pihole-hue-bridge-values.yaml
Labels: none

Orphan crds fluxtimoziation
  cluster/apps/kustomization.yaml
  cluster/crds/kustomization.yaml
Labels: area/kubernetes

Orphan mag
  cluster/apps/kustomization.yaml
  kubernetes/apps/base/mysql/kustomization.yaml
  kubernetes/apps/base/mysql/release.yaml
Labels: area/kubernetes

Orphan mag ns
  cluster/core/namespaces/kustomization.yaml
Labels: area/kubernetes

Migrate mag db
  kubernetes/apps/base/mysql/release.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/production/magazine/ghost/database/data-pvc.yaml
  kubernetes/apps/production/magazine/ghost/database/kustomization.yaml
  kubernetes/apps/production/magazine/ghost/database/mysql-values.yaml
  kubernetes/apps/production/magazine/ghost/ks.yaml
  kubernetes/apps/production/magazine/kustomization.yaml
  kubernetes/apps/production/magazine/namespace.yaml
Labels: none

Migrate magazine
  kubernetes/apps/base/ghost-magazine/kustomization.yaml
  kubernetes/apps/base/ghost-magazine/release.yaml
  kubernetes/apps/production/magazine/ghost/app/config-pvc.yaml
  kubernetes/apps/production/magazine/ghost/app/ghost-values.yaml
  kubernetes/apps/production/magazine/ghost/app/kustomization.yaml
  kubernetes/apps/production/magazine/ghost/ks.yaml
Labels: none

Migrate magazine
  kubernetes/apps/production/magazine/ghost/app/config-pvc.yaml
Labels: none

Bump ghost
  kubernetes/apps/production/magazine/ghost/app/ghost-values.yaml
Labels: none

Orphan weave gitops
  cluster/apps/flux-system/kustomization.yaml
Labels: area/kubernetes

Orphan weave charts
  cluster/base/flux-system/charts/helm/kustomization.yaml
Labels: area/kubernetes

Migrate weave gitops
  kubernetes/apps/base/weave-gitops/kustomization.yaml
  kubernetes/apps/base/weave-gitops/release.yaml
  kubernetes/apps/production/flux-system/kustomization.yaml
  kubernetes/apps/production/flux-system/namespace.yaml
  kubernetes/apps/production/flux-system/weave-gitops/app/admin-secret.sops.yaml
  kubernetes/apps/production/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/apps/production/flux-system/weave-gitops/app/weave-gitops-values.yaml
  kubernetes/apps/production/flux-system/weave-gitops/ks.yaml
  kubernetes/flux/repositories/base/helm/kustomization.yaml
  kubernetes/flux/repositories/base/helm/weave-gitops.yaml
Labels: none

Add flux-system to managed ns
  kubernetes/apps/production/kustomization.yaml
Labels: none

Orphan webhook
  cluster/apps/flux-system/kustomization.yaml
Labels: area/kubernetes

Migrate flux addons
  kubernetes/apps/production/flux-system/flux/ks.yaml
  kubernetes/apps/production/flux-system/flux/webhooks/github/ingress.yaml
  kubernetes/apps/production/flux-system/flux/webhooks/github/kustomization.yaml
  kubernetes/apps/production/flux-system/flux/webhooks/github/receiver.yaml
  kubernetes/apps/production/flux-system/flux/webhooks/github/secret.sops.yaml
  kubernetes/apps/production/flux-system/flux/webhooks/kustomization.yaml
Labels: none

Orphan apps
  cluster/apps/flux-system/kustomization.yaml
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

Add flux monitoring
  kubernetes/apps/production/flux-system/flux/ks.yaml
  kubernetes/apps/production/flux-system/flux/monitoring/kustomization.yaml
  kubernetes/apps/production/flux-system/flux/monitoring/pod-monitor.yaml
Labels: none

Orphan last of namespaces
  cluster/core/namespaces/kustomization.yaml
Labels: area/kubernetes

Orphan all charts
  cluster/base/flux-system/charts/helm/kustomization.yaml
  kubernetes/apps/production/home/home-assistant/app/home-assistant-values.yaml
  kubernetes/infrastructure/production/monitoring/grafana/app/grafana-values.yaml
Labels: area/kubernetes

Orphan charts
  cluster/base/flux-system/charts/git/kustomization.yaml
  cluster/base/flux-system/kustomization.yaml
Labels: area/kubernetes

Update receiver to new dir structure
  kubernetes/apps/production/flux-system/flux/webhooks/github/receiver.yaml
Labels: none

Try to own the right volume
  kubernetes/apps/production/magazine/ghost/database/data-pvc.yaml
Labels: none

Fix rxresume data claim
  kubernetes/apps/production/finance/rxresume/app/data-pvc.yaml
Labels: none

Update renovate config
  .github/renovate.json5
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
area/templates:
  - "tmpl/**/*"
