Repository neilmfrench/homelab-prod, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/templates

Fix lb
  kubernetes/infrastructure/production/kube-system/cilium/app/cilium-values.yaml
Labels: area/kubernetes

Add common ca cert
  kubernetes/flux/vars/production/cluster-secrets.sops.yaml
  kubernetes/infrastructure/production/kube-system/cilium/app/cilium-values.yaml
Labels: area/kubernetes

Manage forward ingress with helm
  kubernetes/infrastructure/production/networking/traefik/ks.yaml
  kubernetes/infrastructure/production/networking/traefik/rpi-forward-ingress/ingressroute.yaml
  kubernetes/infrastructure/production/networking/traefik/rpi-forward-ingress/kustomization.yaml
  kubernetes/infrastructure/production/networking/traefik/rpi-forward-ingress/service.yaml
Labels: area/kubernetes

Fix linters
  .github/linters/.yamllint.yaml
  .pre-commit-config.yaml
  kubernetes/infrastructure/staging-rpi/kube-system/cilium/app/cilium-values.yaml
  talos/manifests/staging-rpi/cilium/install-1_15_6.yaml
  talos/manifests/staging-rpi/cilium/kustomization.yaml
  talos/manifests/staging-rpi/cilium/values-tunnel.yaml
Labels: area/github, area/kubernetes

Up timeouts for cilium since it takes a while
  kubernetes/infrastructure/staging-rpi/kube-system/cilium/ks.yaml
Labels: area/kubernetes

Upgrade to traefik v3
  kubernetes/apps/production/finance/firefly-iii/app/ingressroute.yaml
  kubernetes/apps/production/finance/rxresume/client/ingressroute.yaml
  kubernetes/apps/production/home/home-assistant/app/ingressroute.yaml
  kubernetes/apps/production/media/shlink/client/ingress-route.yaml
  kubernetes/apps/staging-phx/finance/firefly-iii/app/ingressroute.yaml
  kubernetes/infrastructure/base/traefik/release.yaml
  kubernetes/infrastructure/production/networking/pihole/dashboard/ingressroute.yaml
  kubernetes/infrastructure/production/networking/traefik/app/traefik-values.yaml
  kubernetes/infrastructure/production/networking/traefik/ks.yaml
  kubernetes/infrastructure/production/networking/traefik/middlewares/authentik-forward-auth.yaml
  kubernetes/infrastructure/production/networking/traefik/middlewares/cloudflare-only.yaml
  kubernetes/infrastructure/production/networking/traefik/middlewares/crowdsec-traefik-bouncer.yaml
  kubernetes/infrastructure/production/networking/traefik/middlewares/error-pages.yaml
  kubernetes/infrastructure/production/networking/traefik/middlewares/get-real-ip.yaml
  kubernetes/infrastructure/production/networking/traefik/middlewares/internal-only.yaml
  kubernetes/infrastructure/production/networking/traefik/middlewares/pihole-redirect-regex.yaml
  kubernetes/infrastructure/production/networking/traefik/middlewares/rxresume-strip-api-prefix.yaml
  kubernetes/infrastructure/production/networking/traefik/rpi-forward-ingress/ingressroute.yaml
Labels: area/kubernetes

Fix service
  kubernetes/infrastructure/production/networking/traefik/app/traefik-values.yaml
Labels: area/kubernetes

Fix regexp
  kubernetes/infrastructure/production/networking/traefik/rpi-forward-ingress/ingressroute.yaml
Labels: area/kubernetes

Mariadb :(
  kubernetes/apps/base/mariadb/release.yaml
Labels: area/kubernetes

Bump firefly
  kubernetes/apps/production/finance/firefly-iii/app/firefly-iii-values.yaml
Labels: area/kubernetes

Bump nextcloud
  kubernetes/apps/base/nextcloud/release.yaml
  kubernetes/apps/production/media/nextcloud/app/nextcloud-values.yaml
Labels: area/kubernetes

Bump thanos
  kubernetes/infrastructure/base/thanos/release.yaml
  kubernetes/infrastructure/production/monitoring/thanos/app/thanos-values.yaml
Labels: area/kubernetes

Manual cilium bump
  kubernetes/infrastructure/base/cilium/release.yaml
Labels: area/kubernetes

For real this time
  talos/manifests/production/cilium/kustomization.yaml
Labels: none

Bye bye privatebin
  kubernetes/apps/production/media/kustomization.yaml
Labels: area/kubernetes

Up the probes, bitnami defaults are terrible
  kubernetes/apps/base/mysql/release.yaml
Labels: area/kubernetes

Add native password back
  kubernetes/apps/base/mysql/release.yaml
Labels: area/kubernetes

Remove native password plugin
  kubernetes/apps/base/mysql/release.yaml
Labels: area/kubernetes

Create generic imagepull secret
  kubernetes/apps/production/default/secrets/secret-harbor-neilfrench-regcred.sops.yaml
Labels: area/kubernetes

Upgrade volsync
  kubernetes/infrastructure/base/volsync/release.yaml
  kubernetes/infrastructure/staging-phx/volsync/volsync/app/volsync-values.yaml
  kubernetes/infrastructure/staging-rpi/volsync/volsync/app/volsync-values.yaml
  kubernetes/infrastructure/staging-sj/volsync/volsync/app/volsync-values.yaml
Labels: area/kubernetes

Test flux v.2.3.0 on staging
  kubernetes/bootstrap/staging-rpi/kustomization.yaml
  kubernetes/flux/config/staging-rpi/flux.yaml
Labels: area/kubernetes

Test vaultwarden with new patches field
  kubernetes/apps/staging-rpi/security/vaultwarden/app/vaultwarden-values.yaml
  kubernetes/apps/staging-rpi/security/vaultwarden/ks.yaml
Labels: area/kubernetes

Test patches is working
  kubernetes/apps/staging-rpi/security/vaultwarden/app/vaultwarden-values.yaml
Labels: area/kubernetes

Namespace needed?
  kubernetes/apps/staging-rpi/security/vaultwarden/app/vaultwarden-values.yaml
Labels: area/kubernetes

Test new patches field
  kubernetes/apps/staging-rpi/security/vaultwarden/app/kustomization.yaml
Labels: area/kubernetes

Bump sj flux
  kubernetes/bootstrap/staging-sj/kustomization.yaml
  kubernetes/flux/config/staging-sj/flux.yaml
Labels: area/kubernetes

Bump base version of vaultwarden
  kubernetes/apps/base/vaultwarden/release.yaml
Labels: area/kubernetes

Another patch fix
  kubernetes/apps/staging-rpi/security/vaultwarden/app/vaultwarden-values.yaml
Labels: area/kubernetes

Test with externaldns
  kubernetes/infrastructure/base/external-dns/release.yaml
Labels: area/kubernetes

For real this time
  kubernetes/infrastructure/staging-rpi/networking/external-dns/app/external-dns-values.yaml
  kubernetes/infrastructure/staging-rpi/networking/external-dns/ks.yaml
  kubernetes/infrastructure/staging-sj/networking/external-dns/app/external-dns-values.yaml
  kubernetes/infrastructure/staging-sj/networking/external-dns/ks.yaml
Labels: area/kubernetes

Fixes for sj
  kubernetes/apps/staging-sj/security/vaultwarden/app/vaultwarden-values.yaml
  kubernetes/apps/staging-sj/security/vaultwarden/ks.yaml
  kubernetes/infrastructure/base/openebs-jiva/release.yaml
  kubernetes/infrastructure/staging-sj/openebs/openebs-jiva/app/openebs-jiva-values.yaml
  kubernetes/infrastructure/staging-sj/openebs/openebs-jiva/ks.yaml
Labels: area/kubernetes

Bump remaining flux
  kubernetes/bootstrap/production/kustomization.yaml
  kubernetes/bootstrap/staging-phx/kustomization.yaml
  kubernetes/flux/config/production/flux.yaml
  kubernetes/flux/config/staging-phx/flux.yaml
Labels: area/kubernetes

Bump some old helm repos
  kubernetes/flux/repositories/base/helm/crowdsec.yaml
  kubernetes/flux/repositories/base/helm/gitea.yaml
  kubernetes/flux/repositories/base/helm/longhorn.yaml
  kubernetes/flux/repositories/base/helm/nextcloud.yaml
  kubernetes/flux/repositories/base/helm/openebs-jiva.yaml
  kubernetes/flux/repositories/base/helm/pihole.yaml
  kubernetes/flux/repositories/base/helm/piraeus.yaml
Labels: area/kubernetes

Patches dry run
  kubernetes/infrastructure/staging-sj/volsync/volsync/app/kustomization.yaml
Labels: area/kubernetes

Fix system upgrade controller
  kubernetes/infrastructure/base/system-upgrade-controller/kustomization.yaml
Labels: area/kubernetes

Give ghost more space
  kubernetes/apps/staging-phx/magazine/ghost/app/config-pvc.yaml
Labels: area/kubernetes

Trying new rxresume
  kubernetes/flux/vars/production/cluster-secrets.sops.yaml
Labels: area/kubernetes

Try rxresume 4.0
  kubernetes/apps/base/rxresume/release.yaml
  kubernetes/apps/production/finance/rxresume/app/rxresume-values.yaml
  kubernetes/flux/repositories/base/helm/bjw-s.yaml
Labels: area/kubernetes

Fix chromium image
  kubernetes/apps/production/finance/rxresume/app/rxresume-values.yaml
Labels: area/kubernetes

Change port for rxresume
  kubernetes/apps/production/finance/rxresume/app/rxresume-values.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
area/templates:
  - "tmpl/**/*"
