Repository neilmfrench/homelab-prod, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/templates

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
area/templates:
  - "tmpl/**/*"

Fix christianknell helm repos
  kubernetes/apps/staging-phx/magazine/baserow/database/kustomization.yaml
  kubernetes/apps/staging-phx/magazine/baserow/database/restic-config.sops.yaml
  kubernetes/apps/staging-phx/magazine/baserow/database/volsync.yaml
  kubernetes/flux/repositories/base/helm/christianknell.yaml
Labels: area/kubernetes

Add volsync for Baserow postgresql
  kubernetes/apps/staging-phx/magazine/baserow/database/kustomization.yaml
Labels: area/kubernetes

Add volsync for baserow data
  kubernetes/apps/staging-phx/magazine/baserow/app/kustomization.yaml
  kubernetes/apps/staging-phx/magazine/baserow/app/restic-config.sops.yaml
  kubernetes/apps/staging-phx/magazine/baserow/app/volsync.yaml
Labels: area/kubernetes

Explicitly set tekton pruner to latest since its broken by default
  kubernetes/apps/production/tekton-operator/tekton-operator/app/tekton-operator-values.yaml
Labels: area/kubernetes

Add backups for planka data
  kubernetes/apps/production/development/planka/app/kustomization.yaml
  kubernetes/apps/production/development/planka/app/restic-config-attachments.sops.yaml
  kubernetes/apps/production/development/planka/app/restic-config-project-background-images.sops.yaml
  kubernetes/apps/production/development/planka/app/restic-config-user-avatars.sops.yaml
  kubernetes/apps/production/development/planka/app/volsync.yaml
  kubernetes/apps/production/finance/firefly-iii/app/volsync.yaml
Labels: area/kubernetes

Add volsync for harbor data
  kubernetes/apps/production/development/harbor/app/kustomization.yaml
  kubernetes/apps/production/development/harbor/app/restic-config-jobservice.sops.yaml
  kubernetes/apps/production/development/harbor/app/restic-config-postgresql.sops.yaml
  kubernetes/apps/production/development/harbor/app/restic-config-registry.sops.yaml
  kubernetes/apps/production/development/harbor/app/restic-config-trivy.sops.yaml
  kubernetes/apps/production/development/harbor/app/volsync.yaml
Labels: area/kubernetes

Bump minio and change to lb serbice
  kubernetes/apps/base/minio/release.yaml
  kubernetes/apps/production/media/minio/app/minio-values.yaml
Labels: area/kubernetes

Explictly set lb ip
  kubernetes/apps/production/media/minio/app/minio-values.yaml
Labels: area/kubernetes

Test nested subdomain with traefik
  kubernetes/apps/production/default/podinfo/app/podinfo-values.yaml
Labels: area/kubernetes

Create a cert
  kubernetes/apps/production/default/podinfo/app/podinfo-values.yaml
Labels: area/kubernetes

Add secretname for test
  kubernetes/apps/production/default/podinfo/app/podinfo-values.yaml
Labels: area/kubernetes

Start bootstrapping rpi cluster
  kubernetes/bootstrap/staging-rpi/kustomization.yaml
  kubernetes/clusters/base/kustomization.yaml
  kubernetes/clusters/staging-rpi/kustomization.yaml
  kubernetes/clusters/staging-rpi/staging-rpi-flux.yaml
  kubernetes/flux/config/staging-rpi/flux.yaml
  kubernetes/flux/config/staging-rpi/kustomization.yaml
Labels: area/kubernetes

Add vars to rpi
  kubernetes/clusters/base/kustomization.yaml
  kubernetes/clusters/staging-rpi/kustomization.yaml
  kubernetes/clusters/staging-rpi/staging-rpi-vars.yaml
  kubernetes/flux/vars/staging-rpi/cluster-secrets.sops.yaml
  kubernetes/flux/vars/staging-rpi/cluster-settings.yaml
  kubernetes/flux/vars/staging-rpi/kustomization.yaml
Labels: area/kubernetes

Add repos
  kubernetes/clusters/base/kustomization.yaml
  kubernetes/clusters/staging-rpi/kustomization.yaml
  kubernetes/clusters/staging-rpi/staging-rpi-repositories.yaml
  kubernetes/flux/repositories/staging-rpi/git/kustomization.yaml
  kubernetes/flux/repositories/staging-rpi/helm/kustomization.yaml
  kubernetes/flux/repositories/staging-rpi/kustomization.yaml
Labels: area/kubernetes

Add empty ifnra
  kubernetes/clusters/base/kustomization.yaml
  kubernetes/clusters/staging-rpi/kustomization.yaml
  kubernetes/clusters/staging-rpi/staging-rpi-infrastructure.yaml
  kubernetes/infrastructure/staging-rpi/kustomization.yaml
Labels: area/kubernetes

Finish bootstrapping
  kubernetes/apps/staging-rpi/kustomization.yaml
  kubernetes/clusters/base/kustomization.yaml
  kubernetes/clusters/staging-rpi/kustomization.yaml
  kubernetes/clusters/staging-rpi/staging-rpi-apps.yaml
Labels: area/kubernetes

Deploy metrics server to rpi
  kubernetes/infrastructure/staging-rpi/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/kube-system/metrics-server/app/metrics-server-values.yaml
  kubernetes/infrastructure/staging-rpi/kube-system/metrics-server/ks.yaml
  kubernetes/infrastructure/staging-rpi/kustomization.yaml
Labels: area/kubernetes

Add missing kustomization
  kubernetes/infrastructure/staging-rpi/kube-system/kustomization.yaml
Labels: area/kubernetes

Add kubelet serving cert approver
  kubernetes/infrastructure/staging-rpi/kubelet-serving-cert-approver/kubelet-serving-cert-approver/app/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/kubelet-serving-cert-approver/kubelet-serving-cert-approver/ks.yaml
  kubernetes/infrastructure/staging-rpi/kubelet-serving-cert-approver/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/kubelet-serving-cert-approver/namespace.yaml
Labels: area/kubernetes

Deploy cert-manager
  kubernetes/infrastructure/staging-rpi/cert-manager/cert-manager/app/cert-manager-values.yaml
  kubernetes/infrastructure/staging-rpi/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/cert-manager/cert-manager/issuers/cloudflare-api-secret.yaml
  kubernetes/infrastructure/staging-rpi/cert-manager/cert-manager/issuers/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/cert-manager/cert-manager/issuers/letsencrypt-production.yaml
  kubernetes/infrastructure/staging-rpi/cert-manager/cert-manager/issuers/letsencrypt-staging.yaml
  kubernetes/infrastructure/staging-rpi/cert-manager/cert-manager/ks.yaml
  kubernetes/infrastructure/staging-rpi/cert-manager/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/cert-manager/namespace.yaml
Labels: area/kubernetes

Prepare for metallb
  kubernetes/flux/repositories/staging-rpi/helm/kustomization.yaml
  kubernetes/flux/vars/staging-rpi/cluster-secrets.sops.yaml
  kubernetes/infrastructure/staging-rpi/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/metallb-system/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/metallb-system/metallb/app/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/metallb-system/metallb/app/metallb-values.yaml
  kubernetes/infrastructure/staging-rpi/metallb-system/metallb/config/config.yaml
  kubernetes/infrastructure/staging-rpi/metallb-system/metallb/config/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/metallb-system/metallb/ks.yaml
  kubernetes/infrastructure/staging-rpi/metallb-system/namespace.yaml
Labels: area/kubernetes

Deploy metallb
  kubernetes/infrastructure/base/metallb/release.yaml
  kubernetes/infrastructure/staging-rpi/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/metallb-system/metallb/app/metallb-values.yaml
Labels: area/kubernetes

Deploy ingress-nginx
  kubernetes/infrastructure/staging-rpi/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/networking/ingress-nginx/app/ingress-nginx-values.yaml
  kubernetes/infrastructure/staging-rpi/networking/ingress-nginx/app/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/networking/ingress-nginx/app/networks.txt
  kubernetes/infrastructure/staging-rpi/networking/ingress-nginx/certificates/certificates.yaml
  kubernetes/infrastructure/staging-rpi/networking/ingress-nginx/certificates/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/networking/ingress-nginx/ks.yaml
  kubernetes/infrastructure/staging-rpi/networking/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/networking/namespace.yaml
Labels: area/kubernetes

Fix nginx
  kubernetes/infrastructure/staging-rpi/networking/external-dns/app/external-dns-values.yaml
  kubernetes/infrastructure/staging-rpi/networking/external-dns/app/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/networking/external-dns/ks.yaml
  kubernetes/infrastructure/staging-rpi/networking/ingress-nginx/ks.yaml
Labels: area/kubernetes

Add external-dns
  kubernetes/infrastructure/staging-rpi/networking/external-dns/app/external-dns-values.yaml
  kubernetes/infrastructure/staging-rpi/networking/external-dns/ks.yaml
  kubernetes/infrastructure/staging-rpi/networking/kustomization.yaml
Labels: area/kubernetes

Deploy podinfo
  kubernetes/apps/staging-rpi/default/kustomization.yaml
  kubernetes/apps/staging-rpi/default/podinfo/app/kustomization.yaml
  kubernetes/apps/staging-rpi/default/podinfo/app/podinfo-values.yaml
  kubernetes/apps/staging-rpi/default/podinfo/ks.yaml
Labels: area/kubernetes

Create flux webhooks
  kubernetes/apps/staging-rpi/flux-system/flux/ks.yaml
  kubernetes/apps/staging-rpi/flux-system/flux/monitoring/kustomization.yaml
  kubernetes/apps/staging-rpi/flux-system/flux/monitoring/pod-monitor.yaml
  kubernetes/apps/staging-rpi/flux-system/flux/webhooks/github/ingress.yaml
  kubernetes/apps/staging-rpi/flux-system/flux/webhooks/github/kustomization.yaml
  kubernetes/apps/staging-rpi/flux-system/flux/webhooks/github/receiver.yaml
  kubernetes/apps/staging-rpi/flux-system/flux/webhooks/github/secret.sops.yaml
  kubernetes/apps/staging-rpi/flux-system/flux/webhooks/kustomization.yaml
  kubernetes/apps/staging-rpi/flux-system/kustomization.yaml
  kubernetes/apps/staging-rpi/flux-system/namespace.yaml
Labels: area/kubernetes

Change to correct receivers
  kubernetes/apps/staging-rpi/flux-system/flux/webhooks/github/ingress.yaml
  kubernetes/apps/staging-rpi/flux-system/flux/webhooks/github/receiver.yaml
Labels: area/kubernetes

Add manifests for cilium for rpi cluster
  .github/linters/.yamllint.yaml
  .pre-commit-config.yaml
  talos/manifests/staging-rpi/cilium/.gitignore
  talos/manifests/staging-rpi/cilium/install.yaml
  talos/manifests/staging-rpi/cilium/kustomization.yaml
  talos/manifests/staging-rpi/cilium/transformers.yaml
  talos/manifests/staging-rpi/cilium/values.yaml
Labels: area/github

Actually fix values
  talos/manifests/staging-rpi/cilium/install.yaml
  talos/manifests/staging-rpi/cilium/values.yaml
Labels: none

Enable ipv6 for cilium
  talos/manifests/staging-rpi/cilium/install.yaml
  talos/manifests/staging-rpi/cilium/values.yaml
Labels: none

More testing of cilium ipv6 breaking
  talos/manifests/staging-rpi/cilium/README.md
  talos/manifests/staging-rpi/cilium/install.yaml
  talos/manifests/staging-rpi/cilium/values.yaml
Labels: none

Break it so I can fix it
  talos/manifests/staging-rpi/cilium/install.yaml
  talos/manifests/staging-rpi/cilium/values.yaml
Labels: none

Yet another try
  talos/manifests/staging-rpi/cilium/install.yaml
  talos/manifests/staging-rpi/cilium/values.yaml
Labels: none

Try with tunnel
  talos/manifests/staging-rpi/cilium/install.yaml
  talos/manifests/staging-rpi/cilium/values.yaml
Labels: none

Revert to default settings
  talos/manifests/staging-rpi/cilium/install.yaml
  talos/manifests/staging-rpi/cilium/values-old.yaml
  talos/manifests/staging-rpi/cilium/values.yaml
Labels: none

Once again, onto the breach
  talos/manifests/staging-rpi/cilium/install.yaml
  talos/manifests/staging-rpi/cilium/values-old.yaml
  talos/manifests/staging-rpi/cilium/values-tunnel.yaml
  talos/manifests/staging-rpi/cilium/values.yaml
Labels: none

Prep bootstrap for rpi cluster with cilium
  kubernetes/apps/staging-rpi/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/kube-system/cilium/app/cilium-values.yaml
  kubernetes/infrastructure/staging-rpi/kube-system/cilium/app/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/kube-system/cilium/ks.yaml
  kubernetes/infrastructure/staging-rpi/kube-system/kustomization.yaml
  kubernetes/infrastructure/staging-rpi/kustomization.yaml
  talos/manifests/staging-rpi/cilium/install.yaml
  talos/manifests/staging-rpi/cilium/values.yaml
Labels: area/kubernetes

Modify cilium native routing CIDR on home
  kubernetes/infrastructure/production/kube-system/cilium/app/cilium-values.yaml
Labels: area/kubernetes

Revert servicehost/port changes
  kubernetes/infrastructure/production/kube-system/cilium/app/cilium-values.yaml
Labels: area/kubernetes
