Repository neilmfrench/homelab-prod, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/templates

Manually update authentik :|
  kubernetes/apps/base/authentik/release.yaml
  kubernetes/apps/production/security/authentik/app/authentik-values.yaml
Labels: area/kubernetes

Fix postgres config for authentik
  kubernetes/apps/production/security/authentik/app/authentik-values.yaml
Labels: area/kubernetes

Fix authentik ingress config
  kubernetes/apps/production/security/authentik/app/authentik-values.yaml
Labels: area/kubernetes

Fix grafana
  kubernetes/infrastructure/production/monitoring/grafana/app/grafana-values.yaml
Labels: area/kubernetes

thanks a lot grafana :(
  kubernetes/infrastructure/production/monitoring/grafana/app/grafana-values.yaml
Labels: area/kubernetes

Manually update firefly
  kubernetes/apps/base/firefly-iii/release.yaml
  kubernetes/apps/production/finance/firefly-iii/app/firefly-iii-values.yaml
Labels: area/kubernetes

More files that I never use
  .github/renovate.json5
Labels: area/github

Disable probes for client
  .github/renovate.json5
  kubernetes/apps/production/media/shlink/client/shlink-client-values.yaml
Labels: area/github, area/kubernetes

Allow more grace for probes
  kubernetes/apps/staging-phx/magazine/ghost/database/mysql-values.yaml
Labels: area/kubernetes

Use restored pvc
  kubernetes/apps/staging-phx/magazine/ghost/database/mysql-values.yaml
Labels: area/kubernetes

Manual vpa upgrade
  kubernetes/infrastructure/base/vpa/release.yaml
Labels: area/kubernetes

Debug scrutiny
  kubernetes/infrastructure/production/monitoring/scrutiny/collector/scrutiny-collector-values.yaml
Labels: area/kubernetes

Updgrade to scrutiny 0.7.3-web
  kubernetes/infrastructure/production/monitoring/scrutiny/collector/scrutiny-collector-values.yaml
  kubernetes/infrastructure/production/monitoring/scrutiny/web/scrutiny-web-values.yaml
Labels: area/kubernetes

Fix sys cap
  kubernetes/infrastructure/production/monitoring/scrutiny/collector/scrutiny-collector-values.yaml
Labels: area/kubernetes

Why did this stop working
  kubernetes/infrastructure/production/monitoring/scrutiny/collector/scrutiny-collector-values.yaml
Labels: area/kubernetes

Think helm chart broke
  kubernetes/infrastructure/production/monitoring/scrutiny/collector/scrutiny-collector-values.yaml
Labels: area/kubernetes

Remove debug stuff from scrutiny
  kubernetes/infrastructure/production/monitoring/scrutiny/collector/scrutiny-collector-values.yaml
Labels: area/kubernetes

Fix tekton chart dir
  kubernetes/flux/repositories/base/git/tekton-operator-chart.yaml
Labels: area/kubernetes

Really fix tekton chart
  kubernetes/flux/repositories/base/git/tekton-operator-chart.yaml
Labels: area/kubernetes

Undeploy weave
  kubernetes/apps/production/flux-system/kustomization.yaml
Labels: area/kubernetes

Fix ref to tekton chart
  kubernetes/apps/base/tekton-operator/release.yaml
Labels: area/kubernetes

Cleanup the fallout from weave's closure
  kubernetes/flux/repositories/base/git/kustomization.yaml
  kubernetes/flux/repositories/base/git/weave-gitops-chart.yaml
  kubernetes/flux/repositories/base/helm/kustomization.yaml
  kubernetes/flux/repositories/base/helm/weave-gitops.yaml
Labels: area/kubernetes

Remove weave from staging clusters
  kubernetes/flux/repositories/staging-phx/git/kustomization.yaml
  kubernetes/flux/repositories/staging-sj/git/kustomization.yaml
Labels: area/kubernetes

Try to fix tekton
  kubernetes/apps/production/tekton-operator/namespace.yaml
  kubernetes/apps/production/tekton-pipelines/kustomization.yaml
Labels: area/kubernetes

Just get rid of tekton completely
  kubernetes/apps/production/tekton-operator/kustomization.yaml
Labels: area/kubernetes

Lets try this from scrathc
  kubernetes/apps/production/tekton-operator/kustomization.yaml
Labels: area/kubernetes

If only google could wright an operator
  kubernetes/apps/production/tekton-operator/tekton-operator/app/tekton-operator-values.yaml
Labels: area/kubernetes

Ffs tekton
  kubernetes/apps/base/tekton-operator/release.yaml
Labels: area/kubernetes

Ffs tekton
  kubernetes/apps/base/tekton-operator/release.yaml
Labels: area/kubernetes

Finally fixed
  kubernetes/apps/production/tekton-pipelines/kustomization.yaml
Labels: area/kubernetes

Upgrade phx to 1.29.1
  README.md
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/plans/server.yaml
  kubernetes/infrastructure/staging-phx/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/infrastructure/staging-phx/system-upgrade/system-upgrade-controller/plans/server.yaml
  provision/ansible/inventory/group_vars/kubernetes/k3s.yml
Labels: area/ansible, area/kubernetes

Revert calico
  kubernetes/infrastructure/base/tigera-operator/release.yaml
  kubernetes/infrastructure/staging-phx/tigera-operator/tigera-operator/app/tigera-operator-values.yaml
Labels: area/kubernetes

Keep some more backups
  kubernetes/infrastructure/staging-phx/longhorn-system/longhorn/recurring-jobs/daily-backup.yaml
Labels: area/kubernetes

Redeploy weave gitops
  kubernetes/apps/base/weave-gitops/release.yaml
  kubernetes/apps/production/flux-system/kustomization.yaml
Labels: area/kubernetes

Test global pod options
  kubernetes/infrastructure/production/monitoring/scrutiny/collector/scrutiny-collector-values.yaml
Labels: area/kubernetes

Test with just privileged
  kubernetes/infrastructure/production/monitoring/scrutiny/collector/scrutiny-collector-values.yaml
Labels: area/kubernetes

Fix scrutiny again
  kubernetes/infrastructure/production/monitoring/scrutiny/collector/scrutiny-collector-values.yaml
Labels: area/kubernetes

Change port to 8080 for shlink
  kubernetes/apps/production/media/shlink/client/shlink-client-values.yaml
Labels: area/kubernetes

Fix port in ingressroute as well
  kubernetes/apps/production/media/shlink/client/ingress-route.yaml
Labels: area/kubernetes

Change back to real ghost data
  kubernetes/apps/staging-phx/magazine/ghost/database/mysql-values.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
area/templates:
  - "tmpl/**/*"
