Repository neilmfrench/homelab-prod, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/templates

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
area/templates:
  - "tmpl/**/*"

Fix controllers
  kubernetes/apps/production/development/fifa-openapi/app/fifa-openapi-values.yaml
Labels: area/kubernetes

Migrate pocketbase to app-template v2
  kubernetes/apps/base/pocketbase/release.yaml
  kubernetes/apps/production/development/fifa-openapi/app/fifa-openapi-values.yaml
  kubernetes/apps/production/development/pocketbase/app/pocketbase-values.yaml
Labels: area/kubernetes

Upgrade bookstack to app-template v2
  kubernetes/apps/base/bookstack/release.yaml
  kubernetes/apps/production/development/bookstack/app/bookstack-values.yaml
  kubernetes/apps/production/development/fifa-openapi/app/fifa-openapi-values.yaml
  kubernetes/apps/production/development/pocketbase/app/pocketbase-values.yaml
Labels: area/kubernetes

Migrate planka to app-template v2
  kubernetes/apps/base/planka/release.yaml
  kubernetes/apps/production/development/bookstack/app/bookstack-values.yaml
  kubernetes/apps/production/development/fifa-openapi/app/fifa-openapi-values.yaml
  kubernetes/apps/production/development/planka/app/planka-values.yaml
  kubernetes/apps/production/development/pocketbase/app/pocketbase-values.yaml
Labels: area/kubernetes

Undeploy snapshot-controller to test new integrated chart
  kubernetes/infrastructure/production/kube-system/snapshot-controller/ks.yaml
Labels: area/kubernetes

Undeployed the wrong this
  kubernetes/infrastructure/production/kube-system/snapshot-controller/ks.yaml
Labels: area/kubernetes

Undeployed the wrong this
  kubernetes/infrastructure/production/kube-system/snapshot-controller/ks.yaml
Labels: area/kubernetes

Testing combined chart
  kubernetes/infrastructure/production/kube-system/snapshot-controller/app/snapshot-controller-values.yaml
Labels: area/kubernetes

bruh moment
  kubernetes/infrastructure/production/kube-system/snapshot-controller/app/snapshot-controller-values.yaml
Labels: area/kubernetes

Update volsync to 0.8.0
  kubernetes/infrastructure/base/volsync/release.yaml
  kubernetes/infrastructure/staging-phx/volsync/volsync/app/volsync-values.yaml
  kubernetes/infrastructure/staging-sj/volsync/volsync/app/volsync-values.yaml
Labels: area/kubernetes

Allow privileged volsync movers in sj
  kubernetes/apps/staging-sj/monitoring/namespace.yaml
  kubernetes/apps/staging-sj/security/namespace.yaml
Labels: area/kubernetes

Update k3s
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/plans/server.yaml
  kubernetes/infrastructure/staging-phx/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/infrastructure/staging-phx/system-upgrade/system-upgrade-controller/plans/server.yaml
  provision/ansible/inventory/group_vars/kubernetes/k3s.yml
Labels: area/ansible, area/kubernetes

Fix snapshot-controller
  kubernetes/infrastructure/production/kube-system/snapshot-controller/app/snapshot-controller-values.yaml
Labels: area/kubernetes

Upgrade snapshot controller to 2.0
  kubernetes/infrastructure/base/snapshot-controller/release.yaml
  kubernetes/infrastructure/base/snapshot-validation-webhook/kustomization.yaml
  kubernetes/infrastructure/base/snapshot-validation-webhook/release.yaml
  kubernetes/infrastructure/production/kube-system/snapshot-controller/app/snapshot-controller-values.yaml
  kubernetes/infrastructure/production/kube-system/snapshot-controller/ks.yaml
  kubernetes/infrastructure/production/kube-system/snapshot-controller/validation-webhook/kustomization.yaml
  kubernetes/infrastructure/production/kube-system/snapshot-controller/validation-webhook/snapshot-validation-webhook-values.yaml
  kubernetes/infrastructure/staging-phx/kube-system/snapshot-controller/app/snapshot-controller-values.yaml
  kubernetes/infrastructure/staging-phx/kube-system/snapshot-controller/ks.yaml
  kubernetes/infrastructure/staging-phx/kube-system/snapshot-controller/validation-webhook/kustomization.yaml
  kubernetes/infrastructure/staging-phx/kube-system/snapshot-controller/validation-webhook/snapshot-validation-webhook-values.yaml
  kubernetes/infrastructure/staging-sj/kube-system/snapshot-controller/app/snapshot-controller-values.yaml
  kubernetes/infrastructure/staging-sj/kube-system/snapshot-controller/ks.yaml
  kubernetes/infrastructure/staging-sj/kube-system/snapshot-controller/validation-webhook/kustomization.yaml
  kubernetes/infrastructure/staging-sj/kube-system/snapshot-controller/validation-webhook/snapshot-validation-webhook-values.yaml
Labels: area/kubernetes

Fix renovate config
  .github/renovate.json5
Labels: area/github

Add Atlassian DC helm charts
  kubernetes/flux/repositories/base/helm/atlassian.yaml
  kubernetes/flux/repositories/staging-phx/helm/kustomization.yaml
  kubernetes/flux/repositories/staging-sj/helm/kustomization.yaml
Labels: area/kubernetes

Actually add it
  kubernetes/flux/repositories/base/helm/kustomization.yaml
Labels: area/kubernetes

Add secrets for Bitbucket psql
  kubernetes/flux/vars/production/cluster-secrets.sops.yaml
Labels: area/kubernetes

Deploy bitbucket db
  kubernetes/apps/base/bitbucket/kustomization.yaml
  kubernetes/apps/base/bitbucket/release.yaml
  kubernetes/apps/production/development/bitbucket/database/kustomization.yaml
  kubernetes/apps/production/development/bitbucket/database/postgresql-values.yaml
  kubernetes/apps/production/development/bitbucket/ks.yaml
  kubernetes/apps/production/development/kustomization.yaml
Labels: area/kubernetes

Deploy bitbucket
  kubernetes/apps/production/development/bitbucket/app/bitbucket-database-creds.sops.yaml
  kubernetes/apps/production/development/bitbucket/app/bitbucket-license.sops.yaml
  kubernetes/apps/production/development/bitbucket/app/bitbucket-sysadmin-creds.sops.yaml
  kubernetes/apps/production/development/bitbucket/app/bitbucket-values.yaml
  kubernetes/apps/production/development/bitbucket/app/kustomization.yaml
  kubernetes/apps/production/development/bitbucket/app/shared-data-pvc.yaml
  kubernetes/apps/production/development/bitbucket/ks.yaml
Labels: area/kubernetes

Fix secret
  kubernetes/apps/production/development/bitbucket/app/kustomization.yaml
Labels: area/kubernetes

Give it more cpu
  kubernetes/apps/production/development/bitbucket/app/bitbucket-values.yaml
Labels: area/kubernetes

Integrate license
  kubernetes/apps/production/development/bitbucket/app/bitbucket-license.sops.yaml
  kubernetes/apps/production/development/bitbucket/app/bitbucket-values.yaml
Labels: area/kubernetes

Actually add license
  kubernetes/apps/production/development/bitbucket/app/kustomization.yaml
Labels: area/kubernetes

Prep to deploy elasticsearch
  kubernetes/apps/production/development/bitbucket/elasticsearch/elasticsearch-values.yaml
  kubernetes/apps/production/development/bitbucket/elasticsearch/kustomization.yaml
  kubernetes/flux/repositories/base/helm/elastic.yaml
  kubernetes/flux/repositories/base/helm/kustomization.yaml
  kubernetes/flux/repositories/staging-phx/helm/kustomization.yaml
  kubernetes/flux/repositories/staging-sj/helm/kustomization.yaml
Labels: area/kubernetes

Deploy elasticsearch for bitbucket and fix psql version
  kubernetes/apps/base/elasticsearch/kustomization.yaml
  kubernetes/apps/base/elasticsearch/release.yaml
  kubernetes/apps/production/development/bitbucket/database/postgresql-values.yaml
  kubernetes/apps/production/development/bitbucket/elasticsearch/elasticsearch-values.yaml
  kubernetes/apps/production/development/bitbucket/elasticsearch/kustomization.yaml
  kubernetes/apps/production/development/bitbucket/ks.yaml
Labels: area/kubernetes

Fix elasticsearch chart
  kubernetes/apps/base/elasticsearch/release.yaml
Labels: area/kubernetes

Typo on the version I guess
  kubernetes/apps/base/elasticsearch/release.yaml
Labels: area/kubernetes

Trigger
  kubernetes/apps/production/development/bitbucket/elasticsearch/elasticsearch-values.yaml
Labels: area/kubernetes

Allow privileged in dev namespace
  kubernetes/apps/production/development/namespace.yaml
Labels: area/kubernetes

Name elasticsearch better
  kubernetes/apps/production/development/bitbucket/elasticsearch/elasticsearch-values.yaml
Labels: area/kubernetes

Reenable bitbucket
  kubernetes/apps/production/development/bitbucket/app/bitbucket-values.yaml
Labels: area/kubernetes

Downgrade postgres again
  kubernetes/apps/production/development/bitbucket/database/postgresql-values.yaml
Labels: area/kubernetes

Change elasticsearch to http
  kubernetes/apps/production/development/bitbucket/elasticsearch/elasticsearch-values.yaml
Labels: area/kubernetes

Allow elasticsearch http
  kubernetes/apps/production/development/bitbucket/elasticsearch/elasticsearch-values.yaml
Labels: area/kubernetes

Try to fix elasticsearch
  kubernetes/apps/production/development/bitbucket/elasticsearch/elasticsearch-values.yaml
Labels: area/kubernetes

I hate elasticsearch
  kubernetes/apps/production/development/bitbucket/elasticsearch/elasticsearch-values.yaml
Labels: area/kubernetes

Fix protocol
  kubernetes/apps/production/development/bitbucket/elasticsearch/elasticsearch-values.yaml
Labels: area/kubernetes

Gonna jump
  kubernetes/apps/production/development/bitbucket/elasticsearch/elasticsearch-values.yaml
Labels: area/kubernetes

Update rxresume client to app template 2.3.0
  kubernetes/apps/base/rxresume-client/release.yaml
  kubernetes/apps/production/finance/rxresume/client/rxresume-client-values.yaml
Labels: area/kubernetes
