Repository neilmfrench/homelab-prod, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/templates

Update all flux to 2.0.1
  kubernetes/flux/config/staging-phx/flux.yaml
  kubernetes/flux/config/staging-sj/flux.yaml
  kubernetes/infrastructure/base/node-feature-discovery/kustomization.yaml
  kubernetes/infrastructure/base/node-feature-discovery/release.yaml
Labels: area/kubernetes

Undisable flush commands
  kubernetes/apps/production/media/nextcloud/app/nextcloud-values.yaml
Labels: area/kubernetes

Add local pv for minio
  kubernetes/apps/production/media/kustomization.yaml
  kubernetes/apps/production/media/minio/app/data-pvc.yaml
  kubernetes/apps/production/media/minio/app/data-volume.yaml
  kubernetes/apps/production/media/minio/app/kustomization.yaml
  kubernetes/apps/production/media/minio/ks.yaml
Labels: area/kubernetes

Deploy minio
  kubernetes/apps/production/media/minio/app/kustomization.yaml
  kubernetes/apps/production/media/minio/app/minio-values.yaml
Labels: area/kubernetes

Test volsync
  kubernetes/apps/production/media/shlink/database/kustomization.yaml
  kubernetes/apps/production/media/shlink/database/restic-config.sops.yaml
  kubernetes/apps/production/media/shlink/database/volsync.yaml
Labels: area/kubernetes

Allow privileged mover
  kubernetes/apps/production/media/namespace.yaml
  kubernetes/apps/production/media/shlink/database/volsync.yaml
Labels: area/kubernetes

Add volsync for firefly
  kubernetes/apps/production/finance/firefly-iii/database/kustomization.yaml
  kubernetes/apps/production/finance/firefly-iii/database/restic-config.sops.yaml
  kubernetes/apps/production/finance/firefly-iii/database/volsync.yaml
Labels: area/kubernetes

Allow privileged movers
  kubernetes/apps/production/finance/namespace.yaml
Labels: area/kubernetes

Add timezone to requirements
  provision/ansible/requirements.yml
Labels: area/ansible

Add timezone to requirements
  provision/ansible/requirements.yml
Labels: area/ansible

Volsync for nextcloud
  kubernetes/apps/production/media/nextcloud/app/kustomization.yaml
  kubernetes/apps/production/media/nextcloud/app/restic-config.sops.yaml
  kubernetes/apps/production/media/nextcloud/app/volsync.yaml
Labels: area/kubernetes

Volsync for mariadb
  kubernetes/apps/production/media/nextcloud/app/mariadb-restic-config.sops.yaml
  kubernetes/apps/production/media/nextcloud/app/volsync.yaml
Labels: area/kubernetes

Forgot creds
  kubernetes/apps/production/media/nextcloud/app/kustomization.yaml
Labels: area/kubernetes

Bump cilium
  .github/CODEOWNERS
  kubernetes/infrastructure/base/cilium/release.yaml
  kubernetes/infrastructure/staging-sj/kube-system/cilium/app/cilium-values.yaml
Labels: area/github, area/kubernetes

Tweak some cilium values for l2 announcements
  kubernetes/infrastructure/production/kube-system/cilium/app/cilium-values.yaml
Labels: area/kubernetes

Volsync for authentik
  kubernetes/apps/production/security/authentik/app/restic-config.sops.yaml
  kubernetes/apps/production/security/authentik/app/volsync.yaml
  kubernetes/apps/production/security/namespace.yaml
Labels: area/kubernetes

Actually add it
  kubernetes/apps/production/security/authentik/app/kustomization.yaml
Labels: area/kubernetes

Backup for blog db
  kubernetes/apps/production/default/blog/database/kustomization.yaml
  kubernetes/apps/production/default/blog/database/restic-config.sops.yaml
  kubernetes/apps/production/default/blog/database/volsync.yaml
Labels: area/kubernetes

Rename
  kubernetes/apps/production/default/blog/database/restic-config.sops.yaml
  kubernetes/apps/production/default/blog/database/volsync.yaml
Labels: area/kubernetes

Fix pw
  kubernetes/apps/production/default/blog/database/restic-config.sops.yaml
Labels: area/kubernetes

More backups
  kubernetes/apps/production/default/blog/app/kustomization.yaml
  kubernetes/apps/production/default/blog/app/restic-config.sops.yaml
  kubernetes/apps/production/default/blog/app/volsync.yaml
Labels: area/kubernetes

Pin tekton at a version
  kubernetes/apps/base/tekton-operator/release.yaml
  kubernetes/flux/repositories/base/git/tekton-operator-chart.yaml
Labels: area/kubernetes

Deploy tekton
  kubernetes/apps/production/kustomization.yaml
Labels: area/kubernetes

Something about post-render..
  kubernetes/apps/base/tekton-operator/release.yaml
Labels: area/kubernetes

They broke the chart
  kubernetes/flux/repositories/base/git/tekton-operator-chart.yaml
Labels: area/kubernetes

Add dashboard ingress
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/production/tekton-pipelines/tekton-pipelines/dashboard/ingress.yaml
  kubernetes/apps/production/tekton-pipelines/tekton-pipelines/ks.yaml
Labels: area/kubernetes

Golidlocks chart
  kubernetes/flux/repositories/base/helm/fairwinds.yaml
  kubernetes/flux/repositories/base/helm/kustomization.yaml
  kubernetes/flux/repositories/staging-phx/helm/kustomization.yaml
  kubernetes/flux/repositories/staging-sj/helm/kustomization.yaml
  kubernetes/infrastructure/base/goldilocks/kustomization.yaml
  kubernetes/infrastructure/base/goldilocks/release.yaml
Labels: area/kubernetes

Add vpa
  kubernetes/infrastructure/base/vpa/kustomization.yaml
  kubernetes/infrastructure/base/vpa/release.yaml
  kubernetes/infrastructure/production/monitoring/goldilocks/app/goldilocks-values.yaml
  kubernetes/infrastructure/production/monitoring/goldilocks/app/kustomization.yaml
  kubernetes/infrastructure/production/monitoring/goldilocks/ks.yaml
  kubernetes/infrastructure/production/monitoring/kustomization.yaml
  kubernetes/infrastructure/production/monitoring/vpa/app/kustomization.yaml
  kubernetes/infrastructure/production/monitoring/vpa/app/vpa-values.yaml
  kubernetes/infrastructure/production/monitoring/vpa/ks.yaml
Labels: area/kubernetes

Deploy goldilocks
  kubernetes/infrastructure/production/monitoring/goldilocks/ks.yaml
Labels: area/kubernetes

For real this time
  kubernetes/infrastructure/production/monitoring/kustomization.yaml
Labels: area/kubernetes

Enable goldilocks on monitoring ns
  kubernetes/infrastructure/production/monitoring/namespace.yaml
Labels: area/kubernetes

Hmm
  kubernetes/infrastructure/production/monitoring/namespace.yaml
Labels: area/kubernetes

Why isn't this managed by flux
  kubernetes/infrastructure/production/monitoring/namespace.yaml
Labels: area/kubernetes

Does this break
  kubernetes/infrastructure/production/monitoring/namespace.yaml
Labels: area/kubernetes

Rebuild longhorn
  kubernetes/apps/staging-phx/magazine/kustomization.yaml
  kubernetes/apps/staging-phx/monitoring/kustomization.yaml
Labels: area/kubernetes

Redeploy ghost again lol
  kubernetes/apps/staging-phx/magazine/ghost/app/kustomization.yaml
  kubernetes/apps/staging-phx/magazine/ghost/ks.yaml
  kubernetes/apps/staging-phx/magazine/kustomization.yaml
Labels: area/kubernetes

Deploy mag
  kubernetes/apps/staging-phx/magazine/ghost/app/kustomization.yaml
  kubernetes/apps/staging-phx/magazine/ghost/ks.yaml
Labels: area/kubernetes

Redeploy status
  kubernetes/apps/staging-phx/monitoring/kustomization.yaml
Labels: area/kubernetes

Manage csr approver with flux
  kubernetes/flux/repositories/base/helm/kubelet-csr-approver.yaml
  kubernetes/flux/repositories/base/helm/kustomization.yaml
  kubernetes/flux/repositories/staging-phx/helm/kustomization.yaml
  kubernetes/flux/repositories/staging-sj/helm/kustomization.yaml
  kubernetes/infrastructure/base/kubelet-csr-approver/kustomization.yaml
  kubernetes/infrastructure/base/kubelet-csr-approver/release.yaml
Labels: area/kubernetes

Deploy
  kubernetes/infrastructure/production/kube-system/kubelet-csr-approver/app/kubelet-csr-approver-values.yaml
  kubernetes/infrastructure/production/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/infrastructure/production/kube-system/kubelet-csr-approver/ks.yaml
  kubernetes/infrastructure/production/kube-system/kustomization.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
area/templates:
  - "tmpl/**/*"
