Repository neilmfrench/homelab-prod, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/templates

Add a dummy route
  cluster/apps/networking/dummy-test/deployment.yaml
  cluster/apps/networking/dummy-test/ingress.yaml
  cluster/apps/networking/dummy-test/kustomization.yaml
  cluster/apps/networking/dummy-test/service.yaml
Labels: area/kubernetes

Add a dummy route
  cluster/apps/networking/kustomization.yaml
Labels: area/kubernetes

Testing out new folder structure
  kubernetes/apps/base/test-structure/chart-repository.yaml
  kubernetes/apps/base/test-structure/kustomization.yaml
  kubernetes/apps/base/test-structure/namespace.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/clusters/production/apps.yaml
Labels: none

Testing out new folder structure
  kubernetes/apps/base/test-structure/kustomization.yaml
  kubernetes/apps/production/kustomization.yaml
Labels: none

Add podinfo release
  cluster/apps/networking/pihole/helm-release.yaml
  kubernetes/apps/base/test-structure/chart-repository.yaml
  kubernetes/apps/base/test-structure/kustomization.yaml
  kubernetes/apps/base/test-structure/release.yaml
  kubernetes/apps/production/podinfo/kustomization.yaml
  kubernetes/apps/production/podinfo/podinfo-values.yaml
  kubernetes/clusters/production/apps.yaml
Labels: area/kubernetes

Fix podinfo path
  kubernetes/apps/base/podinfo/chart-repository.yaml
  kubernetes/apps/base/podinfo/kustomization.yaml
  kubernetes/apps/base/podinfo/namespace.yaml
  kubernetes/apps/base/podinfo/release.yaml
Labels: none

Testing ArgoCD
  kubernetes/apps/base/argocd/chart-repository.yaml
  kubernetes/apps/base/argocd/kustomization.yaml
  kubernetes/apps/base/argocd/namespace.yaml
  kubernetes/apps/base/argocd/release.yaml
  kubernetes/apps/production/argocd/kustomization.yaml
  kubernetes/apps/production/podinfo/kustomization.yaml
Labels: none

Fix argo path
  kubernetes/apps/base/argocd/kustomization.yaml
Labels: none

Initial release of ArgoCD 🎉
  cluster/apps/networking/pihole/helm-release.yaml
  kubernetes/apps/base/argocd/kustomization.yaml
  kubernetes/apps/base/argocd/release.yaml
  kubernetes/apps/production/argocd/kustomization.yaml
  kubernetes/apps/production/argocd/values.yaml
Labels: area/kubernetes

Fix Argo ingress
  kubernetes/apps/base/argocd/release.yaml
  kubernetes/apps/production/argocd/values.yaml
Labels: none

Fix Argo ingress
  kubernetes/apps/base/argocd/release.yaml
  kubernetes/apps/production/argocd/values.yaml
Labels: none

Run as insecure
  kubernetes/apps/production/argocd/values.yaml
Labels: none

Add OIDC to Argo
  cluster/base/cluster-secrets.sops.yaml
  kubernetes/apps/production/argocd/values.yaml
Labels: area/kubernetes

Update policy.csv
  kubernetes/apps/production/argocd/values.yaml
Labels: none

Fix argocd sso again
  kubernetes/apps/production/argocd/values.yaml
Labels: none

Fix argocd sso again
  kubernetes/apps/production/argocd/values.yaml
Labels: none

More fixes :(
  kubernetes/apps/production/argocd/values.yaml
Labels: none

Debug Authentik logs
  cluster/apps/security/authentik/helm-release.yaml
Labels: area/kubernetes

More tests
  cluster/base/cluster-secrets.sops.yaml
  kubernetes/apps/production/argocd/values.yaml
Labels: area/kubernetes

More tests for oauth argo
  kubernetes/apps/production/argocd/values.yaml
Labels: none

Remove debug logs from authentik
  cluster/apps/security/authentik/helm-release.yaml
Labels: area/kubernetes

Add tf for oracle cloud
  .gitignore
  provision/terraform/oracle-cloud/.terraform.lock.hcl
  provision/terraform/oracle-cloud/attempt.sh
  provision/terraform/oracle-cloud/k3s-oci-cluster/LICENSE
  provision/terraform/oracle-cloud/k3s-oci-cluster/data.tf
  provision/terraform/oracle-cloud/k3s-oci-cluster/files/k3s-install-agent.sh
  provision/terraform/oracle-cloud/k3s-oci-cluster/files/k3s-install-server.sh
  provision/terraform/oracle-cloud/k3s-oci-cluster/iam.tf
  provision/terraform/oracle-cloud/k3s-oci-cluster/k3s-servers.tf
  provision/terraform/oracle-cloud/k3s-oci-cluster/k3s-workers.tf
  provision/terraform/oracle-cloud/k3s-oci-cluster/k3slb.tf
  provision/terraform/oracle-cloud/k3s-oci-cluster/lb.tf
  provision/terraform/oracle-cloud/k3s-oci-cluster/locals.tf
  provision/terraform/oracle-cloud/k3s-oci-cluster/network.tf
  provision/terraform/oracle-cloud/k3s-oci-cluster/nsg.tf
  provision/terraform/oracle-cloud/k3s-oci-cluster/oci/provider.tf
  provision/terraform/oracle-cloud/k3s-oci-cluster/output.tf
  provision/terraform/oracle-cloud/k3s-oci-cluster/security.tf
  provision/terraform/oracle-cloud/k3s-oci-cluster/template.tf
  provision/terraform/oracle-cloud/k3s-oci-cluster/terraform.tf
  provision/terraform/oracle-cloud/k3s-oci-cluster/vars.tf
  provision/terraform/oracle-cloud/main.tf
  provision/terraform/oracle-cloud/provider.tf
  provision/terraform/oracle-cloud/secrets.sops.yaml
Labels: area/terraform

Add san jose secrets
  provision/terraform/oracle-cloud/secrets-san-jose.sops.yaml
Labels: area/terraform

Migrate default namespace
  cluster/apps/default/kustomization.yaml
  cluster/apps/kustomization.yaml
Labels: area/kubernetes

Re-add homepage in new structure
  kubernetes/apps/base/homepage/deployment.yaml
  kubernetes/apps/base/homepage/ingress.yaml
  kubernetes/apps/base/homepage/kustomization.yaml
  kubernetes/apps/base/homepage/namespace.yaml
  kubernetes/apps/base/homepage/secret-harbor-neilfrench-regcred.yaml
  kubernetes/apps/base/homepage/service.yaml
  kubernetes/apps/production/homepage/kustomization.yaml
Labels: none

Fix namespace
  kubernetes/apps/production/default/kustomization.yaml
Labels: none

Temporarily give up on reusable charts
  kubernetes/clusters/production/kustomization.yaml
  kubernetes/flux/repositories/README.md
  kubernetes/flux/repositories/production/helm/argo.yaml
  kubernetes/flux/repositories/production/helm/kustomization.yaml
  kubernetes/flux/repositories/production/helm/podinfo.yaml
  kubernetes/flux/repositories/production/kustomization.yaml
  kubernetes/flux/repositories/production/oci/.gitkeep
Labels: none

Temporarily give up on reusable charts
  kubernetes/flux/repositories/production/git/.gitkeep
Labels: none

Temporarily give up on reusable charts
  kubernetes/flux/repositories/production/helm/.gitkeep
  kubernetes/flux/repositories/production/kustomization.yaml
Labels: none

Fix path to base
  kubernetes/apps/production/argocd/argocd/app/kustomization.yaml
  kubernetes/apps/production/default/homepage/app/kustomization.yaml
  kubernetes/apps/production/default/podinfo/app/kustomization.yaml
Labels: none

Fix charts
  kubernetes/apps/base/argocd/release.yaml
  kubernetes/apps/base/podinfo/release.yaml
Labels: none

Fix helm charts
  kubernetes/apps/base/argocd/release.yaml
  kubernetes/apps/base/podinfo/release.yaml
Labels: none

Add infra/vars for clusters
  .editorconfig
  README.md
  kubernetes/clusters/base/base-infrastructure.yaml
  kubernetes/clusters/base/base-vars.yaml
  kubernetes/clusters/base/kustomization.yaml
  kubernetes/clusters/production/kustomization.yaml
  kubernetes/clusters/production/production-infrastructure.yaml
  kubernetes/clusters/production/production-vars.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/vars/production/cluster-secrets.yaml
  kubernetes/flux/vars/production/cluster-settings.yaml
  kubernetes/flux/vars/production/kustomization.yaml
  kubernetes/infrastructure/base/.gitkeep
  kubernetes/infrastructure/production/.gitkeep
  kubernetes/infrastructure/production/kustomization.yaml
  kubernetes/infrastructure/staging-phx/.gitkeep
  kubernetes/infrastructure/staging-sj/.gitkeep
Labels: none

Fix name of secrets file
  kubernetes/flux/vars/production/cluster-secrets.sops.yaml
Labels: none

Test fluxtomizations
  kubernetes/flux/vars/production/cluster-secrets.sops.yaml
  kubernetes/flux/vars/production/cluster-settings.yaml
Labels: none

Migrating cluster configs
  cluster/base/cluster-secrets.sops.yaml
  cluster/base/cluster-settings.yaml
  kubernetes/apps/base/mariadb/kustomization.yaml
  kubernetes/apps/base/mariadb/release.yaml
  kubernetes/flux/vars/production/cluster-secrets.sops.yaml
  kubernetes/flux/vars/production/cluster-settings.yaml
Labels: area/kubernetes

Moving to modular repositories
  kubernetes/apps/base/mariadb/release.yaml
  kubernetes/flux/repositories/README.md
  kubernetes/flux/repositories/base/helm/argo.yaml
  kubernetes/flux/repositories/base/helm/bitnami.yaml
  kubernetes/flux/repositories/base/helm/kustomization.yaml
  kubernetes/flux/repositories/base/helm/podinfo.yaml
  kubernetes/flux/repositories/production/helm/.gitkeep
Labels: none

Disable pruning
  cluster/base/apps.yaml
Labels: area/kubernetes

Migrate privatebin mariadb
  cluster/apps/media/privatebin/kustomization.yaml
  cluster/apps/media/privatebin/mariadb-helm-release.yaml
  kubernetes/apps/base/mariadb/release.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/production/media/kustomization.yaml
  kubernetes/apps/production/media/namespace.yaml
  kubernetes/apps/production/media/privatebin/app/kustomization.yaml
  kubernetes/apps/production/media/privatebin/app/mariadb-values.yaml
  kubernetes/apps/production/media/privatebin/ks.yaml
Labels: area/kubernetes

Change namespace to media
  kubernetes/apps/production/media/privatebin/app/kustomization.yaml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
area/templates:
  - "tmpl/**/*"
