Repository neilmfrench/homelab-prod, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform, area/templates

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "cluster/**/*"
area/terraform:
  - "provision/terraform/**/*"
area/templates:
  - "tmpl/**/*"

Migrate system upgrade controler
  kubernetes/infrastructure/base/system-upgrade-controller/kustomization.yaml
  kubernetes/infrastructure/production/system-upgrade/kustomization.yaml
  kubernetes/infrastructure/production/system-upgrade/namespace.yaml
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: none

Migrate system upgrade controler
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
Labels: none

Migrate system upgrade controler
  kubernetes/infrastructure/base/system-upgrade-controller/kustomization.yaml
Labels: none

Bump k3s version
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: none

Orphan longhorn
  cluster/core/kustomization.yaml
Labels: area/kubernetes

Orphan longhorn namespace
  cluster/core/namespaces/kustomization.yaml
  cluster/core/namespaces/longhorn-system.yaml
Labels: area/kubernetes

Migrate longhorn
  kubernetes/flux/repositories/base/helm/kustomization.yaml
  kubernetes/flux/repositories/base/helm/longhorn.yaml
  kubernetes/infrastructure/base/longhorn/kustomization.yaml
  kubernetes/infrastructure/base/longhorn/release.yaml
  kubernetes/infrastructure/production/longhorn-system/kustomization.yaml
  kubernetes/infrastructure/production/longhorn-system/longhorn/app/kustomization.yaml
  kubernetes/infrastructure/production/longhorn-system/longhorn/app/longhorn-values.yaml
  kubernetes/infrastructure/production/longhorn-system/longhorn/app/minio-svc-credentials.sops.yaml
  kubernetes/infrastructure/production/longhorn-system/longhorn/ks.yaml
  kubernetes/infrastructure/production/longhorn-system/longhorn/recurring-jobs/daily-backup.yaml
  kubernetes/infrastructure/production/longhorn-system/longhorn/recurring-jobs/frequent-backup.yaml
  kubernetes/infrastructure/production/longhorn-system/longhorn/recurring-jobs/kustomization.yaml
  kubernetes/infrastructure/production/longhorn-system/longhorn/storage-classes/kustomization.yaml
  kubernetes/infrastructure/production/longhorn-system/longhorn/storage-classes/longhorn-daily-backup.yaml
  kubernetes/infrastructure/production/longhorn-system/longhorn/storage-classes/longhorn-frequent-backup.yaml
  kubernetes/infrastructure/production/longhorn-system/namespace.yaml
Labels: none

Forgot kustomization
  kubernetes/infrastructure/production/kustomization.yaml
Labels: none

Remove crowdsec
  cluster/apps/security/kustomization.yaml
  cluster/core/longhorn/helm-release.yaml
  cluster/core/longhorn/kustomization.yaml
  cluster/core/longhorn/minio-svc-credentials.sops.yaml
  cluster/core/longhorn/recurring-jobs/daily-backup.yaml
  cluster/core/longhorn/recurring-jobs/frequent-backup.yaml
  cluster/core/longhorn/recurring-jobs/kustomization.yaml
  cluster/core/longhorn/storage-classes/kustomization.yaml
  cluster/core/longhorn/storage-classes/longhorn-daily-backup.yaml
  cluster/core/longhorn/storage-classes/longhorn-frequent-backup.yaml
Labels: area/kubernetes

Bump longhorn
  kubernetes/infrastructure/base/longhorn/release.yaml
Labels: none

Add pod security labels for longhorn
  kubernetes/infrastructure/production/longhorn-system/namespace.yaml
Labels: none

Upgrade to krs 1.26
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/infrastructure/production/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: none

Add calico chart
  kubernetes/flux/repositories/base/helm/calico.yaml
  kubernetes/flux/repositories/base/helm/kustomization.yaml
Labels: none

Fix calico chart
  kubernetes/flux/repositories/base/helm/calico.yaml
Labels: none

Try to manage tigera with helm
  hack/manage-tigera-with-helm.sh
  kubernetes/flux/vars/production/cluster-secrets.sops.yaml
  kubernetes/infrastructure/base/tigera-operator/kustomization.yaml
  kubernetes/infrastructure/base/tigera-operator/release.yaml
  kubernetes/infrastructure/production/kustomization.yaml
  kubernetes/infrastructure/production/tigera-operator/kustomization.yaml
  kubernetes/infrastructure/production/tigera-operator/namespace.yaml
  kubernetes/infrastructure/production/tigera-operator/tigera-operator/app/kustomization.yaml
  kubernetes/infrastructure/production/tigera-operator/tigera-operator/app/tigera-operator-values.yaml
  kubernetes/infrastructure/production/tigera-operator/tigera-operator/ks.yaml
Labels: none

Fix kustomization
  kubernetes/infrastructure/base/tigera-operator/kustomization.yaml
Labels: none

Migrate prometheus chart
  kubernetes/flux/repositories/base/helm/kustomization.yaml
  kubernetes/flux/repositories/base/helm/prometheus.yaml
  kubernetes/infrastructure/base/calico/addons/kustomization.yaml
  kubernetes/infrastructure/base/calico/kustomization.yaml
  kubernetes/infrastructure/base/kube-prometheus-stack/kustomization.yaml
  kubernetes/infrastructure/base/kube-prometheus-stack/release.yaml
  provision/terraform/oracle-cloud/main.tf
Labels: area/terraform

Orphan kube prometheus stack
  cluster/apps/monitoring/kube-prometheus-stack/helm-release.yaml
  cluster/apps/monitoring/kube-prometheus-stack/kustomization.yaml
  cluster/apps/monitoring/kustomization.yaml
  cluster/core/namespaces/kustomization.yaml
  cluster/core/namespaces/monitoring.yaml
Labels: area/kubernetes

Migrate kube-prometheus-stack
  kubernetes/infrastructure/base/kube-prometheus-stack/release.yaml
  kubernetes/infrastructure/production/kustomization.yaml
  kubernetes/infrastructure/production/monitoring/kube-prometheus-stack/app/kube-prometheus-stack-values.yaml
  kubernetes/infrastructure/production/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/infrastructure/production/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/infrastructure/production/monitoring/kustomization.yaml
  kubernetes/infrastructure/production/monitoring/namespace.yaml
Labels: none

Bump kube-prometheus-stack
  kubernetes/infrastructure/base/kube-prometheus-stack/release.yaml
Labels: none

Add release for kps crds
  kubernetes/infrastructure/base/prometheus-operator-crds/kustomization.yaml
  kubernetes/infrastructure/base/prometheus-operator-crds/release.yaml
  kubernetes/infrastructure/production/monitoring/kube-prometheus-stack/crds/kustomization.yaml
  kubernetes/infrastructure/production/monitoring/kube-prometheus-stack/ks.yaml
Labels: none

Migrate grafana chart
  kubernetes/flux/repositories/base/helm/grafana.yaml
  kubernetes/flux/repositories/base/helm/kustomization.yaml
Labels: none

Orphan grafana
  cluster/apps/monitoring/grafana/config-pvc.yaml
  cluster/apps/monitoring/grafana/helm-release.yaml
  cluster/apps/monitoring/grafana/kustomization.yaml
  cluster/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

Migrate grafana
  kubernetes/infrastructure/base/grafana/kustomization.yaml
  kubernetes/infrastructure/base/grafana/release.yaml
  kubernetes/infrastructure/production/monitoring/grafana/app/config-pvc.yaml
  kubernetes/infrastructure/production/monitoring/grafana/app/grafana-values.yaml
  kubernetes/infrastructure/production/monitoring/grafana/app/kustomization.yaml
  kubernetes/infrastructure/production/monitoring/grafana/ks.yaml
Labels: none

Fix Grafana PSP
  kubernetes/infrastructure/production/monitoring/grafana/app/grafana-values.yaml
Labels: none

Bump grafana
  kubernetes/infrastructure/base/grafana/release.yaml
  kubernetes/infrastructure/production/monitoring/grafana/app/grafana-values.yaml
  kubernetes/infrastructure/production/monitoring/grafana/ks.yaml
Labels: none

Add calico addons
  kubernetes/infrastructure/base/addons/calico-monitoring/config/felix-dashboard.json
  kubernetes/infrastructure/base/addons/calico-monitoring/config/typha-dashboard.json
  kubernetes/infrastructure/base/addons/calico-monitoring/kustomization.yaml
  kubernetes/infrastructure/base/addons/calico-monitoring/servicemonitor.yaml
  kubernetes/infrastructure/production/calico-system/calico/addons/kustomization.yaml
  kubernetes/infrastructure/production/calico-system/calico/ks.yaml
  kubernetes/infrastructure/production/calico-system/kustomization.yaml
  kubernetes/infrastructure/production/calico-system/namespace.yaml
  kubernetes/infrastructure/production/kustomization.yaml
Labels: none

Remove calico dashboard
  kubernetes/infrastructure/production/monitoring/grafana/app/grafana-values.yaml
Labels: none

Orphan monitoring namespace
  cluster/apps/kustomization.yaml
  cluster/apps/monitoring/kustomization.yaml
Labels: area/kubernetes

Add bjw-s helm cahrt
  kubernetes/flux/repositories/base/helm/bjw-s.yaml
Labels: none

Migrate changedetection
  kubernetes/apps/base/changedetection/kustomization.yaml
  kubernetes/apps/base/changedetection/release.yaml
  kubernetes/apps/production/default/changedetection/app/changedetection-values.yaml
  kubernetes/apps/production/default/changedetection/app/kustomization.yaml
  kubernetes/apps/production/default/changedetection/ks.yaml
  kubernetes/apps/production/default/kustomization.yaml
Labels: none

Forgot to add bjw cahrt
  kubernetes/flux/repositories/base/helm/kustomization.yaml
Labels: none

More fixes
  kubernetes/apps/base/changedetection/kustomization.yaml
  kubernetes/apps/base/changedetection/release.yaml
Labels: none

Orphan traefik/networking namespace
  cluster/apps/networking/kustomization.yaml
  cluster/core/namespaces/kustomization.yaml
  cluster/core/namespaces/networking.yaml
  kubernetes/infrastructure/base/traefik/kustomization.yaml
  kubernetes/infrastructure/base/traefik/release.yaml
Labels: area/kubernetes

Disable pruning namespaces
  kubernetes/apps/production/argocd/namespace.yaml
  kubernetes/apps/production/media/namespace.yaml
  kubernetes/infrastructure/production/calico-system/namespace.yaml
  kubernetes/infrastructure/production/cert-manager/namespace.yaml
  kubernetes/infrastructure/production/longhorn-system/namespace.yaml
  kubernetes/infrastructure/production/metallb-system/namespace.yaml
  kubernetes/infrastructure/production/monitoring/namespace.yaml
  kubernetes/infrastructure/production/system-upgrade/namespace.yaml
  kubernetes/infrastructure/production/tigera-operator/namespace.yaml
Labels: none

Remove traefik crds
  cluster/crds/kustomization.yaml
  cluster/crds/traefik/crds.yaml
  cluster/crds/traefik/kustomization.yaml
Labels: area/kubernetes

Migrate traefik chart
  kubernetes/flux/repositories/base/helm/kustomization.yaml
  kubernetes/flux/repositories/base/helm/traefik.yaml
Labels: none

Migrate traefik
  kubernetes/infrastructure/base/traefik/release.yaml
  kubernetes/infrastructure/production/kustomization.yaml
  kubernetes/infrastructure/production/networking/kustomization.yaml
  kubernetes/infrastructure/production/networking/namespace.yaml
  kubernetes/infrastructure/production/networking/traefik/app/kustomization.yaml
  kubernetes/infrastructure/production/networking/traefik/app/traefik-values.yaml
  kubernetes/infrastructure/production/networking/traefik/ks.yaml
Labels: none

Remove websecure default
  kubernetes/infrastructure/production/networking/traefik/app/traefik-values.yaml
Labels: none

Move traefik crds source
  kubernetes/flux/repositories/base/git/kustomization.yaml
  kubernetes/flux/repositories/base/git/traefik-crds.yaml
  kubernetes/flux/repositories/production/git/.gitkeep
  kubernetes/flux/repositories/production/git/kustomization.yaml
Labels: none
